<h1 class="animated fadeIn fast">Buscando: <small>{{dato}}</small> </h1>
<hr>

<div class="col animated fadeIn fast" *ngFor="let ruta of rutas; let i=index">
    <div class="animated fadeIn fast card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="ruta.img" class="img-fluid rounded-start" alt="cifa">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Ciudad de Origen: {{ruta.ciuorigen}}</h5>
                    <p class="card-text">Ciudad de Destino: {{ruta.ciudestino}}</p>
                    <p class="card-text"><small class="text-body-secondary">{{ruta.descripcion}}</small></p>

                    <button (click)="verRuta(i)" type="button" class="btn btn-primary">Saber más</button>
                </div>
            </div>
        </div>
    </div>
</div>