<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">

    <a class="navbar-brand">
        <img src="assets\img\orence3.jpg" alt="Orense" width="70" height="40">
    </a>

    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" [routerLink]="['Home']" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['rutas']" routerLinkActive="active">Rutas del Oro</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input #buscarTxt class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (input)="buscarRuta(buscarTxt.value)">
                <button (click)="buscarRuta(buscarTxt.value)" class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>